.MemoryCard {
    display: inline-block;
    width: 150px;
    height: 80px;
    margin: 3px;
    border-radius: 5px;
    border: 3px solid #193D49;
    color: black;
    background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 10px,
      rgb(11, 155, 238) 10px,
      rgb(245, 135, 9) 20px
    ),
    linear-gradient(
      to bottom,
      rgb(245, 135, 9),
      rgb(11, 155, 238)
    ) 
}

img {
    width: 60px;
    padding-top: 11px;
}